body {
    font-family: Arial;
    margin: 30px;
}

input {
    padding: 6px;
    margin-right: 10px;
}

button {
    padding: 6px 12px;
    margin: 3px;
    cursor: pointer;
}

.tabs button {
    background: #ddd;
    border: none;
    padding: 10px 18px;
    margin-right: 5px;
}

.tabs button:hover {
    background: #bbb;
}

.tab {
    display: none;
    margin-top: 20px;
}

.tab.active {
    display: block;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin-top: 15px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.error {
    color: red;
    font-weight: bold;
}
